div.Main_project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../../images/cash.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: scroll;

  .card-project{
    background: rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    word-break: break-all;

  }

  h6{
    color: rgb(127, 21, 214);
  }


  .result {
    width: max-content;
    word-break: break-all;
    margin: 6rem;
    padding: 1rem;
    border-radius: 1rem;
    background: rgba(6, 130, 231, 0.692);
    color: azure;
    font-weight: 600;
  }
}
