div.Main_project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  height: 100vh;
  background-image: url('../../images/cash.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;


  h6{
    color: rgb(127, 21, 214);
  }


  .result {
    margin: 6rem;
    padding: 1rem;
    border-radius: 1rem;
    background: rgb(0, 0, 0,0.1);
    color: azure;
    font-weight: 600;
  }
}